<!DOCTYPE html>
<html ng-app="trackApp">

	<head>
		<meta charset="utf-8" />
		<title>TRACK</title>
		<link href="https://fonts.googleapis.com/css?family=Carter+One|Handlee" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="script.js"></script>
	</head>

	<body ng-controller="mainCtrl">
		<header>
			<h1>TRACK</h1>
			<h2>NZTA Road Maintenance</h2>
		</header>

		<!----------------------
				Login
		----------------------->
		<div ng-show="login">
			<form>
			    <label>Username</label>
			    <input type="text" placeholder="Enter Username" ng-model="username" id="loginForm" required> <br>
			    <label>Password</label>
			    <input type="password" placeholder="Enter Password" ng-model="password" id="loginForm" required> <br>
			    <button ng-click="checkLogin()" type="submit"> Login </button>
			    <p>{{feedback}}</p>
			</form>
		</div>

		<!----------------------
				Menu
		----------------------->
		<div ng-show="menu">
			<p>Hello {{name}}!</p>
			<button ng-click = "showRoadList()">See Roads</button>
			<button ng-click = "addNewRoad()">Add New Road</button><br>

			<div ng-show="roadList">
				{{postSuccess}}
				Road ID<br><input type = text ng-model="ID"><br>
				Code<br><input type = text ng-model="roadName"><br>
				Type<br><input type = text ng-model="roadType"><br>
				Section<br><input type = text ng-model="section"><br>
				Location<br><input type = text ng-model="location"><br>
				GPS<br><input type = text ng-model="latLon"><br><br>
				Road List:
				<ul>
					<li ng-repeat="Roads in myRoads">Road ID: {{Roads.ID}} <button ng-click = "editRoadInfo(Roads)">Edit Info</button></li>
				</ul>
			</div>


			<button ng-click = "showProjectList()">See Projects</button>
			<button ng-click = "addNewProject()">Add New Project</button><br>
			<div ng-show="projectList">
				{{postSuccess}}
				Project ID<br><input type = text ng-model="projID"><br>
				Road ID<br><input type = text ng-model="roadID"><br>
				Project Type<br><input type = text ng-model="projType"><br>
				Status<br><input type = text ng-model="status"><br><br>
				Project List:
				<ul>
					<li ng-repeat="Projects in myProjects">Project ID: {{Projects.ID}} <button ng-click = "editProjInfo(Projects)">Edit Info</button></li>
				</ul>
			</div>
		</div>
	</body>
</html>
