<!DOCTYPE html>
<html ng-app="trackApp">

	<head>
		<meta charset="utf-8" />
		<title>TRACK</title>
		<link href="https://fonts.googleapis.com/css?family=Carter+One|Handlee" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="script.js"></script>
	</head>

	<body ng-controller="mainCtrl">
		<header>
			<h1>TRACK</h1>
			<h2>NZTA Road Maintenance</h2>
		</header>


		<!----------------------
		------------------------
				Login
		------------------------
		----------------------->
		<div ng-show="login">
			<form>
			    <label>Username</label>
			    <input type="text" placeholder="Enter Username" ng-model="username" id="loginForm" required> <br>
			    <label>Password</label>
			    <input type="password" placeholder="Enter Password" ng-model="password" id="loginForm" required> <br>
			    <button ng-click="checkLogin()" type="submit"> Login </button>
			    <p>{{feedback}}</p>
			</form>
		</div>


		<!----------------------
		------------------------
				Main
		------------------------
		----------------------->
		<div id="mainMenu" ng-show="menu">
			<p>Hello {{name}}!</p>

			<!----------------------
					Roads
			----------------------->
			<button ng-click = "showRoadList()">See Roads</button>
			<div ng-show="roadList">
				<!-- Road List: -->			
				<ul>
					<li ng-repeat="Roads in myRoads"># {{Roads.ID}} {{Roads.Code}} <button ng-click = "editRoadInfo(Roads)">Edit Info</button></li>
				</ul>
				<!-- Modify road: -->
				<div id="editRoadForm" ng-show="editRoad">
					{{postSuccess}}
					Road ID<br><input type = text ng-model="ID"><br>
					Code<br><input type = text ng-model="roadName"><br>
					Type<br><input type = text ng-model="roadType"><br>
					Section<br><input type = text ng-model="section"><br>
					Location<br><input type = text ng-model="location"><br>
					GPS<br><input type = text ng-model="latLon"><br>
					<!-- Save road button does nothing atm -->
					<button ng-click = "saveRoad(Roads)">Save Road</button> 
					<!-- meant to be clicked after edit road is clicked, so relevant information can be taken accessed by javascript to delete -->
					<!--set up alert to make sure the delete doesn't happen automatically-->
					<button ng-click = "deleteRoad(Roads)">Delete Road</button> 
					<button ng-click="closeForm()" type="cancel"> Cancel </button>
				</div>
			</div>
			<!-- Add road: -->
			<button ng-click = "showNewRoadForm()">Add New Road</button><br>
			<div id="newRoadForm" ng-show="newRoad">
				<label>ID</label><br>
			    <input type="text" placeholder="Road ID" required> <br>
			    <label>Name</label><br>
			    <input type="text" placeholder="Road Name" required> <br>
			    <label>Type</label><br>
			    <input type="text" placeholder="Road Type" required> <br>
			    <label>Section</label><br>
			    <input type="text" placeholder="Road Section" required> <br>
			    <label>Location</label><br>
			    <input type="text" placeholder="Road Location" required> <br>
			    <label>Coordinates</label><br>
			    <input type="text" placeholder="Latitude" required> <br>
			    <input type="text" placeholder="Longitude" required> <br>
			    <button ng-click="addNewRoad()" type="submit"> OK </button>
			    <button ng-click="closeForm()" type="cancel"> Cancel </button>
			</div>

			<!----------------------
					Projcts
			----------------------->
			<button ng-click = "showProjectList()">See Projects</button>
			<div ng-show="projectList">
				<!-- Project list -->
				<ul>
					<li ng-repeat="Projects in myProjects">Project ID: {{Projects.ID}} <button ng-click = "editProjInfo(Projects)">Edit Info</button></li>
				</ul>
				<!-- Modify project -->
				<div id="editProjectForm" ng-show="editProject">
					{{postSuccess}}
					Project ID<br><input type = text ng-model="projID"><br>
					Road ID<br><input type = text ng-model="roadID"><br>
					Project Type<br><input type = text ng-model="projType"><br>
					Status<br><input type = text ng-model="status"><br><br>
					<!-- Save road button does nothing atm -->
					<button ng-click = "saveProjects(Projects)">Save Project</button> 
					<!-- meant to be clicked after edit road is clicked, so relevant information can be taken accessed by javascript to delete -->
					<!--set up alert to make sure the delete doesn't happen automatically-->
					<button ng-click = "deleteProject(Projects)">Delete Project</button> 
					<button ng-click="closeForm()" type="cancel"> Cancel </button> 
				</div>
			</div>
			<!-- Add project: -->
			<button ng-click = "showNewProjectForm()">Add New Project</button><br>
			<div id="newProjectForm" ng-show="newProject">
				<label>ID</label><br>
			    <input type="text" placeholder="Project ID" required> <br>
			    <label>Associated Road</label><br>
			    <input type="text" placeholder="Road ID" required> <br>
			    <label>Type</label><br>
			    <input type="text" placeholder="Project Type" required> <br>
			    <label>Start Date</label><br>
			    <input type="date" required> <br>
			    <label>Contractor</label><br>
			    <input type="text" placeholder="Contractor Company" required> <br>
			    <button ng-click="addNewProject()" type="submit"> OK </button>
			    <button ng-click="closeForm()" type="cancel"> Cancel </button>
			</div>

		</div>
	</body>
</html>
