/***************************************************
General
***************************************************/

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Muli', sans-serif;
    background: #d0dbd0;
    margin: 10% auto;
  	width: 50%;
 	border: 3px solid #efe;
 	padding: 10px 40px 30px;
}



/***************************************************
Header
***************************************************/

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}



/***************************************************
Section
***************************************************/

#loginForm {
	margin: 10px auto;
}

button {
	margin: 15px 0px 5px;
	padding: 5px 15px;
	border-radius: 10px;
	border-style: double solid 2px;
	border-color: #888;
	background: #eee;
}